body {
  background:lightblue;
  font-family:"Roboto," sans-serif;
}
body {
  width: 80%;
}

body {
  margin-top:60px
}

img {
  width:70%
}

img {
  margin-left: auto;
}

h1 {
  font-size:50px;
  font-style: oblique;
}
