
body {
  background:lightblue;
  text-align:center;
}

img {
  width:70%;
}

img {
  margin-left: auto;
}

h1 {
  color:coral;
}

ul {
  list-style-type:square;
}

a {
  text-decoration: none;
  font-style: italic;
  font-weight: lighter;
  font-color:darkcyan;
}
