head{
  "https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap" rel="stylesheet">
}
body {
  background:lightblue;
}
body {
  width: 80%;
}

body {
  margin-top:60px
}

img {
  width:70%
}

img {
  margin-left: auto;
}

h1 {
  font-size:50px;
  font-style: oblique;
  font-family:"Arvo"
}
