
body {
  background:lightblue;
  text-align:center;
  font-family:"Arvo",sans-serif;
}

img {
  width:70%;
}

img {
  margin-left: auto;
}

h1 {
  color:coral;
  border-style: dotted;
  border-width: medium;
  border-color:lightcoral;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-style: italic;
  font-weight: lighter;
  color:darkcyan;
}
a:hover {
  color:cyan
}
